.button{
border-radius: 0.25rem;
background-color: #51ec9f;
border: none;
padding: 0.25rem;
transition: 0.2s;

}

.button:hover{
    filter: brightness(0.85);
}

.button:disabled {
    background-color: rgb(20, 97, 21);
    color: #fafafa;
    width: 5rem;
    border: none;
    border: none;
    font-size: 1rem;
    border-radius: 0.375rem;
    padding: 0.25rem;
  }
  
  .button[disabled]:hover {
    filter: none;
  }