.container{
    background-color: lightblue;
    border: 1px solid black;
    max-width: 540px;
}
.container + .container{
    margin-top: 1rem;
}

.container h2 {
    margin-left: 1rem;
}

.information_row{
    display:flex;
    justify-content: space-between;
}
.information_row > *{
    margin: 1rem 1rem;
}

.information_text span + span{
 margin-left: 0.5rem;
}